.datetime {
	display:block;
	font-style:italic;
	font-size:7pt;
	color:#4CAF50;
}

.blogpost {
	font-size:15px;
	font-family:Times New Roman;
	font-style:none;
	color:#000000;
}

.bheader {
	display:block;
	width:100%;
	font-size:30px;
	font-family:arial;
	color:#009688;
	text-align:left;
}
.bheadsub {
	display:block;
	font-style:italic;
	font-size:10px;
	font-family:arial;
	color:#009688;
	text-align:left;
}

code {
	background-color:#C0C0C0;
	font-family:courier;
	font-size:15px;
	padding: 5px;
	color:#000000;
}